<div class="jumbotron pager">
  <div class="container">
    <h1>Welcome to my blog!</h1>
    <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-large" %>
  </div>
</div>
<%= link_to "About", about_path %>
